<html>
  <head>
    <title>Créer un potin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <header>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Gossip App</a>
  </nav>
  </header>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="center">
        <div class="text-center">
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    
  <form action='/gossips/new/' method='POST'>
    <div class="form-group">
      <label for="indication">Saisi ici ton nom</label>
      <input type="text" class="form-control" name='gossip_author' aria-describedby="name" placeholder="nom">
    </div>
    <div class="form-group">
      <label for="indication">Balance ton potin</label>
      <input type="text" class="form-control" name='gossip_content' placeholder="potin">
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>

  </body>
</html>