<html>
  <head>
    <title>Show un potin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <header>
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Gossip App</a>
  </nav>
  </header>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="center">
        <div class="text-center">
  <br>
    <h1>Page Potin !</h1>
  <br>
        <p> Voici le potin n° <%= id %><br/>
        Son auteur : <%= gossips.author %><br/>
        Le contenu du potin : <%= gossips.content %>
        </p>
  <br>
  <br>
    <a href="/">Lien pour revenir à la page des potins</a>
        </div>
    </div>
  </div>

  </body>

</html>

